body {
    margin: 100px;
}

.box {
    width: 300px;
    height: 300px;
    background-color: black;

    animation-name: minhaAnimacao; /*define o nome da animação que sera usado no elemento*/
    animation-duration: 1000ms; /*duração da animação*/
    animation-iteration-count: infinite; /*quantidade de vezer que a animação sera repetida*/
    animation-delay: 1000ms; /*tempo de espera ate que a animação se inicie*/
    animation-timing-function: ease-in; /*define a curva de velocidade da animação*/
    animation-direction: alternate; /*a direção a qual a animação ira iniciar*/
}

@keyframes minhaAnimacao {
    0% { /*inicio meio e fim de cada animação que sera executada*/
        background-color: black;
        border: 0 green solid;
        box-shadow: 0 0 0 black;

    }

    50% {
        border: 20px green solid;
        box-shadow: 0 0 100px black;
    }

    100% {
        background-color: red;
        transform: rotate(360deg);
        border: 0 green solid;
        box-shadow: 0 0 0 black;

    }

}