body {
    background: rgb(216, 211, 216);
}

h3 {
    color: black /*Seleciona todas as tags iguais*/
}

.foto {
    width: 170px /*Seleciona a classe determinada(somente com o "." antes)*/
}

#titulo-principal{
    color:black /*Seleciona o id determinado, mas raramente usado(somente com a "#" antes)*/
}